<nav class="sidebar">
    <div class="sidebar-content">
        <a class="logo" href="../pages/index.php">
            <img src="../../assets/img/logo.png" alt="Logo">
        </a>
        <ul>
            <li><a href="../pages/index.php">Αρχική</a></li>
            <li><a href="../pages/announcement.php">Ανακοινώσεις</a></li>
            <li><a href="../pages/communication.php">Επικοινωνία</a></li>
            <li><a href="../pages/documents.php">Έγγραφα Μαθήματος</a></li>
            <li><a href="../pages/homework.php">Εργασίες</a></li>
            <li id="control-panel-link">
                <a href="../pages/controlPanel.php">Πίνακας Ελέγχου</a>
            </li>
        </ul>
    </div>


    <div class="sidebar-footer">
        <div class="user-details">
            <img src="../../assets/img/default-avatar.png" alt="User" class="nav-avatar">
            <div class="user-text">
                <span class="user-name"></span> <span class="user-role"></span> </div>
            <a href="../../../backend/auth/logout.php">
                <img src="../../assets/img/logout-img.png" alt="Logout" title="Logout" class="nav-logout">
            </a>
        </div>
    </div>

</nav>